# Dependencias
node_modules/
jspm_packages/
package-lock.json
yarn.lock

# Entornos Virtuales (Python)
venv/
.venv/
env/
__pycache__/
*.py[cod]

# Variables de entorno (¡Seguridad!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem

# Compilación y Logs
dist/
build/
out/
.next/
.cache/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del Sistema
.DS_Store
Thumbs.db
desktop.ini

# IDEs y Editores
.vscode/
.idea/
*.swp
*.swo